body {
    font-family: Arial, sans-serif;
    background-color: lime;
    text-align: center;
    padding: 50px;
    color: #333;
}

h1 {
    color: #007acc;
}

img {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;

}
